.pytest_cache
__pycache__
.coverage
htmlcov
.env
.env.test
log.html
output.xml
report.html
selenium-screenshot*
/src/templates/download.html

# todo: headless chromella lokaalisti ajetut robot-testit tallentavat tämän src-hakemistoon, tämä siihen asti kunnes asia korjattu
bibliography.bib