<title>Viitteet</title>

<h1>Viitteet</h1>

{% for citation in citations %}
<ul>
<li>Kirjoittajat: {{ citation[0] }}</li>
<li>Otsikko: {{ citation[1] }}</li>
<li>Vuosi: {{ citation[2] }}</li>
</ul>
<form action="/delete_citation" method="POST">
    <input type="hidden" name="citation_id" value="{{ citation[3] }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="poista">
</form>
<form action="/edit_citation" method="GET" target="_blank">
    <input type="hidden" name="citation_id" value="{{ citation[3] }}">
    <input type="submit" value="muokkaa">
</form>
<br>
<form action="/delete_citation" method="POST">
    <input type="hidden" name="citation_id" value="{{ citation[3] }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="poista">
</form>


{% endfor %}

<a href="/download" download="bibliography.bib">Lataa</a>

<a href="/">Takaisin</a>