<title>Viitteet</title>

<h1>Viitteet</h1>

{% for citation in citations %}
<ul>
    <li>Kirjoittajat: {{ citation.authors }}</li>
    <li>Otsikko: {{ citation.title }}</li>
    <li>Vuosi: {{ citation.year }}</li>
    <li>ID: {{ citation.given_id }}</li>
</ul>
<form action="/delete_citation" method="POST">
    <input type="hidden" name="citation_id" value="{{ citation.id }}">
    <input type="hidden" name="citation_type" value="{{ citation.type }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="poista">
</form>
<form action="/edit_citation" method="GET" target="_blank">
    <input type="hidden" name="citation_id" value="{{ citation.id }}">
    <input type="submit" value="muokkaa">
</form>


{% endfor %}

<a href="/download" download="bibliography.bib">Lataa</a>

<a href="/">Takaisin</a>