<title>Muokkaa viitettä</title>

<h1>Muokkaa Viitettä</h1>

<form action="/edit_other_citation" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div>
    <label for="authors">Kirjottaja(t)</label> <br />
    <textarea name="authors" rows="0" cols="50" placeholder="Kirjoittaja(t)">{{ citation.author }}</textarea>
  </div>

  <div>
    <label for="title">Nimi</label> <br />
    <textarea name="title" rows="0" cols="50" placeholder="Nimi">{{ citation.title }}</textarea>
  </div>

  <div>
    <label for="type">Tyyppi</label> <br />
    <textarea name="type" rows="0" cols="50" placeholder="Tyyppi">{{ citation.type }}</textarea>
  </div>

  <div>
    <label for="other">Muita tietoja</label> <br />
    <textarea name="other" rows="0" cols="50" placeholder="Muuta">{{ citation.other }}</textarea>
  </div>

  <div>
    <label for="year">Vuosi</label> <br />
    <textarea name="year" rows="0" cols="50" placeholder="Vuosi">{{ citation.year }}</textarea>
  </div>

  <div>
    <label for="given_id"></label> <br />
    <textarea name="given_id" rows="0" cols="50" placeholder="ID">{{ citation.given_id }}</textarea>

  <button>Muokkaa!</button>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="citation_id" value="{{ citation.id }}" />
</form>
