<title>Uusi viite</title>

<h1>Uusi viite</h1>

<form action="/new_book" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div>
    <label for="authors">Kirjottaja(t)</label> <br />
    <textarea name="authors" rows="0" cols="50" placeholder="Kirjoittaja(t)"></textarea>
  </div>

  <div>
    <label for="title">Nimi</label> <br />
    <textarea name="title" rows="0" cols="50" placeholder="Nimi"></textarea>
  </div>

  <div>
    <label for="editor">Kustannustoimittaja</label> <br />
    <textarea name="editor" rows="0" cols="50" placeholder="Kustannustoimittaja"></textarea>
  </div>

  <div>
    <label for="publisher">Kustantaja</label> <br />
    <textarea name="publisher" rows="0" cols="50" placeholder="Kustantaja"></textarea>
  </div>

  <div>
    <label for="year">Vuosi</label> <br />
    <input type="text" name="year" placeholder="Vuosi" />
  </div>

  <div>
    <label for="given_id">ID (jätä tyhjäksi generoidaksesi automaattisesti)</label> <br />
    <input type="text" name="given_id" placeholder="ID" />
  </div>

  <button>Luo viite</button>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
