<title>Uusi viite</title>

<h1>Uusi viite</h1>

<form action="/new_other_citation" method="post">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <div>
    <label for="authors">Kirjottaja(t)</label> <br />
    <textarea name="authors" rows="0" cols="50" placeholder="Kirjoittaja(t)"></textarea>
  </div>

  <div>
    <label for="title">Nimi</label> <br />
    <textarea name="title" rows="0" cols="50" placeholder="Nimi"></textarea>
  </div>

  <div>
    <label for="type">Tyyppi</label> <br />
    <textarea name="type" rows="0" cols="50" placeholder="Tyyppi"></textarea>
  </div>

  <div>
    <label for="other">Muita tietoja</label> <br />
    <textarea name="other" rows="0" cols="50" placeholder="Muuta"></textarea>
  </div>

  <div>
    <label for="year">Vuosi</label> <br />
    <textarea name="year" rows="0" cols="50" placeholder="Vuosi"></textarea>
  </div>


  <div>
    <label for="given_id">ID (jätä tyhjäksi generoidaksesi automaattisesti)</label> <br />
    <input type="text" name="given_id" placeholder="ID" />
  </div>

  <button>Luo viite</button>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
